{% assign author = site.authors[post.author] %}
<div class="card">
    <table style="width:100%">
        <tr>
          <td style="width:200px">{% if post.image %} <img class="rounded mb-4" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}" width = 200px> {% endif %}</td>
          <td style="width:10px"> </td>
          <td style="width:350px"><p style="font-size:14px"><a href="{{ post.url | absolute_url }}">{{post.title }}</a></p></td> 
          <td style="width:10px"> </td>
          <td><p style="font-size:14px">{{post.publish_venue}}</p></td>
        </tr>
      </table>
</div>
<!-- end post -->

